html{
  background-image: radial-gradient(circle, #ad016d, #960073, #7a0078, #57007d, #1e0080);
  height: 100vh;
  background-attachment: fixed;
  scroll-behavior: smooth;
}


body{
  margin: 0px;
  overflow: auto;
}

.espaceMenu{
  position: relative;
  top: -50px;
}

#principale{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, p, h3, h4, span, li{
  font-family: "Baskerville Old Face";
  color: white;
  letter-spacing: 3px;
}

h1, h2, p, h3, li{
  margin: 25px;
}

h1{
  font-size: 5em;
  margin-top: 200px;
}

h2{
  font-size: 2em;
}

a{
  text-decoration: none;
}

button{
  background-color: #9860A8;
  margin: 10px;
  padding: 20px 45px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

#lienBouton{
  margin-bottom: 20%;
}

button:hover {
  background-color: #823593;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}


h1, h2, h3, p, span, button, div, li{
  opacity: 0;
  animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.onglet {
  -webkit-box-shadow: 7px 7px 15px 0px #000000;
  box-shadow: 7px 7px 15px 0px #000000;
  background-color: #ad54d0;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu{
  display: none;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#menu:hover{
  transform: scale(1.1);
}

.onglet:active{
  transform: translateY(-1px);
}


.onglet:hover {
  background-color: #823593;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

.menu_a{
  width: 25%;
}

h3{
  font-size: 15px;
  transition: font-size 0.3s ease;
}

.onglet:hover h3 {
  font-size: 18px;
}

.titrePartie{
  -webkit-box-shadow: 7px 7px 15px 0px #000000;
  box-shadow: 7px 7px 15px 0px #000000;
  background-color: #ad54d0;
  padding: 10px;
  margin: 0px 0px 20px;
}

#profilImg{
  width: 25vh;
  border-radius: 20%;
  margin-left: 10px;
}

p, li{
  font-size: 20px;
  text-align: justify;
}


.contenu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgba(173, 84, 208, 0.3);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

#pdf{
  width: 35%;
  height: 90vh;
  border-radius: 20px;
}

#pdfDiv{
  flex-direction: column;
}


/* timeline des compétences */

* {
  box-sizing: border-box;
}

.timeline{
  height: 500px;
  max-height: 70vh;
  overflow-y: auto;
}

.timeline::-webkit-scrollbar {
  width: 0;
}

.timeline_object{
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.timeline_object.complete::after{
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 55px;
  background-color: white;
  left: 23px;
  top: 60px;
  transform: translateX(-50%);
  z-index: -1;
}

.timeline-status{
  height: 46px;
  width: 46px;
  border-radius: 50%;
}

.selected{
  background-color: white;
}

.timeline_object .timeline-status:not(.selected){
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid #cf89d7;
}

.timeline_content{
  margin-left: 15px;
}

.timeline_content h4{
  padding: 5px 10px;
  margin-bottom: 10px;
}

.timeline_content span{
  color: #cf89d7;
}



/* detail des compétences */

.detailCompétence{
  width: 70%;
  margin-left: 30px;
  background-color: rgba(173, 84, 208, 0.3);
  border-radius: 20px;
}

/* Projets */

#projetDiv{
  display: flex;
  flex-direction: column;
}

.custom-slider{
  display: flex;
  flex-direction: column;
}

.slide-container{
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}

.prev{
  left: 15px;
}

.next{
  right: 15px;
}

.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.slide-dot{
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #111111;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.sectionSlide{
  display: flex;
  flex-direction: column;
}

.sectionProjet{
  /*display: flex;
  flex-direction: column;
  width: 100%;
  */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.partProjet{
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
*/
  /*display: flex;
  flex-direction: column;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.divProjet{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .contenu {
    flex-direction: column;
    padding: 10px;
  }

  #profilImg {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .onglet {
    height: 40px;
  }

  h3 {
    font-size: 12px;
  }

  .contenu {
    padding: 5px;
  }
}


@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 2em;
    margin-top: 100px;
  }

  .onglet {
    height: 30px;
  }

  h3 {
    font-size: 10px;
  }

  .contenu {
    padding: 5px;
  }

  #profilImg {
    width: 100px;
  }

  button {
    font-size: 18px;
    padding: 15px 30px;
  }

  #pdf {
    width: 100%;
    height: auto;
  }
}

canvas{
  height: 40vh;
  width: 50%;
}

.menu_techno {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.onglet_techno {
  padding: 10px 20px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  background-color: rgba(173, 84, 208, 0.3);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  color: white;
}

.onglet_techno:first-child{
  border-bottom-left-radius: 20px;
}

.onglet_techno:last-child{
  border-bottom-right-radius: 20px;
}

.onglet_techno.selected {
  background-color: rgb(173, 84, 208);
}

.onglet_techno:hover {
  background-color: rgba(173, 84, 208, 0.5);
}

#technodiv{
  margin-top: 0;
}

#technoDescription {
  display: flex;
  align-items: center;
}

#descriptionText {
  margin-left: 20px;
}

.textSlide{
  width: 50%;
}

#logo{
  width: 10%;
}

.detailCompétence{
  height: 550px;
  overflow-y: auto;
}
.detailCompétence::-webkit-scrollbar {
  width: 0;
}

.linkText {
  color: white;
  text-decoration: underline;
}

.linkText:hover{
  color: #bd85bd;
}